SET QUOTED_IDENTIFIER OFF
GO
SET ANSI_NULLS ON
GO
CREATE PROCEDURE [dbo].[SpNAuditFileImportHeader]
	@StampUser varchar (255),
	@FileImportHeaderId uniqueidentifier,
	@StampAction char(1)
AS


INSERT INTO TFileImportHeaderAudit 
( TenantId, UserId, EntryDate, LastUpdatedDate, 
		HeaderData, ShouldRecordsBeDuplicated, Status, NumberOfRecords, 
		NumberOfRecordsFailed, NumberOfRecordsDuplicated, EncodedSerialisedCustomData, EncodedSerialisedCustomDataTypeString, 
		Message, SystemMessage, FileId, OriginalFileName, 
		FileImportType, MigrationId, IsBeingProcessed, EstimatedRecordsProcessedPerSecond,
	FileImportHeaderId, StampAction, StampDateTime, StampUser) 
Select TenantId, UserId, EntryDate, LastUpdatedDate, 
		HeaderData, ShouldRecordsBeDuplicated, Status, NumberOfRecords, 
		NumberOfRecordsFailed, NumberOfRecordsDuplicated, EncodedSerialisedCustomData, EncodedSerialisedCustomDataTypeString, 
		Message, SystemMessage, FileId, OriginalFileName, 
		FileImportType, MigrationId, IsBeingProcessed, EstimatedRecordsProcessedPerSecond,
	FileImportHeaderId, @StampAction, GetDate(), @StampUser
FROM TFileImportHeader
WHERE FileImportHeaderId = @FileImportHeaderId

IF @@ERROR != 0 GOTO errh

RETURN (0)

errh:
RETURN (100)

