openapi: 3.1.0
info:
  title: FactFind API
  version: 3.0.0
  description: |
    # FactFind System API

    Comprehensive RESTful API for Wealth Management Platform

    ## Overview

    The FactFind API provides complete digital capabilities for financial advisory services including:
    - FactFind lifecycle management and aggregated views
    - Client onboarding, KYC, and identity verification
    - Employment, income, and expenditure tracking
    - Assets, liabilities, and net worth management
    - Investments, pensions, mortgages, and protection products
    - Financial goals and objectives
    - Attitude to Risk (ATR) assessment
    - Reference data and lookups

    ## Key Features

    - RESTful architecture with proper HTTP semantics
    - Single unified contract per entity
    - Hierarchical resource organization
    - Simple hypermedia with href navigation
    - Comprehensive validation and business rules
    - FCA, MiFID II, GDPR, and MLR 2017 compliant
    - Multi-tenancy support

    ## API Conventions

    ### Pagination
    - `$top` (integer, optional) - Number of items to return (default: 25, max: 100)
    - `$skip` (integer, optional) - Number of items to skip (default: 0)

    ### Ordering
    - `orderBy` (string, optional) - Field name followed by `asc` or `desc`
    - Example: `?orderBy=lastName asc,firstName asc`

    ### Filtering
    - `filter` (string, optional) - QueryLang filter expression
    - Syntax: `field operator value` with `and` to chain
    - Operators: `eq`, `ne`, `gt`, `ge`, `lt`, `le`, `in`, `startswith`
    - Example: `?filter=status eq 'Active' and age gt 30`

    ### Collection Response Structure
    All list endpoints return:
    ```json
    {
      "href": "current page URL",
      "first_href": "first page URL",
      "last_href": "last page URL",
      "next_href": "next page URL (null if on last page)",
      "prev_href": "previous page URL (null if on first page)",
      "items": [],
      "count": 123
    }
    ```

    ### Money Type
    All monetary values use simplified structure:
    ```json
    {
      "amount": 50000.00,
      "currency": {
        "code": "GBP"
      }
    }
    ```

  contact:
    name: API Support
    email: api-support@factfind.com
  license:
    name: Proprietary
    url: https://factfind.com/licenses

servers:
  - url: https://api.factfind.com/api/v3
    description: Production server
  - url: https://api-staging.factfind.com/api/v3
    description: Staging server
  - url: https://api-dev.factfind.com/api/v3
    description: Development server

security:
  - OAuth2:
      - factfind

tags:
  - name: FactFind Root
    description: FactFind lifecycle management, aggregated views, and control options
  - name: Control Options
    description: Section gating flags for conditional FactFind data collection
  - name: Client Management
    description: Core client identity, profile, and demographic information
  - name: Address
    description: Client address management (current and historical)
  - name: Contact
    description: Client contact information (phone, email, etc.)
  - name: Professional Contact
    description: Client professional contacts (solicitors, accountants)
  - name: Client Relationship
    description: Family and partner relationship management
  - name: Dependant
    description: Client dependant information
  - name: Vulnerability
    description: Client vulnerability tracking (FCA Consumer Duty)
  - name: Estate Planning
    description: Estate planning, IHT, and gift tracking
  - name: Identity Verification
    description: KYC/AML identity verification (MLR 2017)
  - name: Credit History
    description: Credit history and adverse credit events
  - name: Financial Profile
    description: Client financial profile summary
  - name: Marketing Preferences
    description: Marketing consent management (PECR/GDPR)
  - name: DPA Agreement
    description: Data processing agreements (GDPR compliance)
  - name: Bank Account
    description: Client bank account information
  - name: Employment
    description: Employment history and current employment
  - name: Employment Summary
    description: Employment summary singleton per client
  - name: Income
    description: Income sources and tracking
  - name: Expenditure
    description: Expenditure items and tracking
  - name: Affordability
    description: Affordability calculations
  - name: Asset
    description: Asset management (property, vehicles, valuables)
  - name: Liability
    description: Liability management (loans, debts, credit cards)
  - name: Net Worth
    description: Net worth calculations and tracking
  - name: Investment
    description: Investment products (cash accounts, investments, life-assured)
  - name: Final Salary Pension
    description: Defined benefit pension schemes
  - name: Annuity
    description: Annuity products
  - name: Personal Pension
    description: Personal pensions, SIPPs, drawdown
  - name: State Pension
    description: State pension entitlements
  - name: Employer Pension Scheme
    description: Workplace pension schemes
  - name: Mortgage
    description: Mortgage products (residential, buy-to-let, equity release)
  - name: Personal Protection
    description: Protection products (life, critical illness, income protection)
  - name: Protection Review
    description: Protection needs analysis and review
  - name: Objectives
    description: Financial objectives and goals by type
  - name: ATR Assessment
    description: Attitude to Risk assessment
  - name: Reference Data
    description: Reference data, enumerations, and lookups

components:
  securitySchemes:
    OAuth2:
      type: oauth2
      description: |
        OAuth 2.0 authorization with single unified scope.

        The API uses a single `factfind` scope for all operations.
        Fine-grained permissions are managed at the application/tenant level.
      flows:
        authorizationCode:
          authorizationUrl: https://auth.factfind.com/oauth/authorize
          tokenUrl: https://auth.factfind.com/oauth/token
          scopes:
            factfind: Full access to all FactFind API operations
        clientCredentials:
          tokenUrl: https://auth.factfind.com/oauth/token
          scopes:
            factfind: Full access to all FactFind API operations

  parameters:
    # Path Parameters
    FactFindId:
      name: id
      in: path
      required: true
      description: FactFind identifier
      schema:
        type: integer
        format: int64
        example: 679

    ClientId:
      name: clientId
      in: path
      required: true
      description: Client identifier
      schema:
        type: integer
        format: int64
        example: 8496

    AddressId:
      name: addressId
      in: path
      required: true
      description: Address identifier
      schema:
        type: integer
        format: int64

    ContactId:
      name: contactId
      in: path
      required: true
      description: Contact identifier
      schema:
        type: integer
        format: int64

    RelationshipId:
      name: relationshipId
      in: path
      required: true
      description: Relationship identifier
      schema:
        type: integer
        format: int64

    DependantId:
      name: dependantId
      in: path
      required: true
      description: Dependant identifier
      schema:
        type: integer
        format: int64

    VulnerabilityId:
      name: vulnerabilityId
      in: path
      required: true
      description: Vulnerability identifier
      schema:
        type: integer
        format: int64

    GiftId:
      name: giftId
      in: path
      required: true
      description: Gift identifier
      schema:
        type: integer
        format: int64

    AgreementId:
      name: agreementId
      in: path
      required: true
      description: DPA Agreement identifier (use 'current' for latest)
      schema:
        oneOf:
          - type: integer
            format: int64
          - type: string
            enum: [current]
        example: current

    EmploymentId:
      name: employmentId
      in: path
      required: true
      description: Employment identifier
      schema:
        type: integer
        format: int64

    IncomeId:
      name: incomeId
      in: path
      required: true
      description: Income identifier
      schema:
        type: integer
        format: int64

    ExpenditureId:
      name: expenditureId
      in: path
      required: true
      description: Expenditure identifier
      schema:
        type: integer
        format: int64

    ChangeId:
      name: changeId
      in: path
      required: true
      description: Change record identifier
      schema:
        type: integer
        format: int64

    AssetId:
      name: assetId
      in: path
      required: true
      description: Asset identifier
      schema:
        type: integer
        format: int64

    LiabilityId:
      name: liabilityId
      in: path
      required: true
      description: Liability identifier
      schema:
        type: integer
        format: int64

    ObjectiveId:
      name: objectiveId
      in: path
      required: true
      description: Objective identifier
      schema:
        type: integer
        format: int64

    EventId:
      name: eventId
      in: path
      required: true
      description: Credit history event identifier
      schema:
        type: integer
        format: int64

    MortgageId:
      name: mortgageId
      in: path
      required: true
      description: Unique identifier of the mortgage
      schema:
        type: integer
        format: int64

    ProtectionId:
      name: protectionId
      in: path
      required: true
      description: Unique identifier of the protection policy
      schema:
        type: integer
        format: int64

    ATRAssessmentId:
      name: assessmentId
      in: path
      required: true
      description: Unique identifier of the ATR assessment
      schema:
        type: integer
        format: int64

    ProviderId:
      name: providerId
      in: path
      required: true
      description: Unique identifier of the provider
      schema:
        type: integer
        format: int64

    AdviserId:
      name: adviserId
      in: path
      required: true
      description: Unique identifier of the adviser
      schema:
        type: integer
        format: int64

    OfficeId:
      name: officeId
      in: path
      required: true
      description: Unique identifier of the office
      schema:
        type: integer
        format: int64

    SnapshotId:
      name: snapshotId
      in: path
      required: true
      description: Net worth snapshot identifier
      schema:
        type: integer
        format: int64

    AccountId:
      name: accountId
      in: path
      required: true
      description: Bank account identifier
      schema:
        type: integer
        format: int64

    # Query Parameters
    TaxYear:
      name: taxYear
      in: query
      required: false
      description: Tax year in format YYYY/YY (defaults to current tax year)
      schema:
        type: string
        pattern: '^\d{4}/\d{2}$'
        example: "2024/25"

    # Pagination and Filtering Parameters
    Top:
      name: $top
      in: query
      description: Number of items to return
      schema:
        type: integer
        minimum: 1
        maximum: 100
        default: 25
      example: 25

    Skip:
      name: $skip
      in: query
      description: Number of items to skip
      schema:
        type: integer
        minimum: 0
        default: 0
      example: 0

    OrderBy:
      name: orderBy
      in: query
      description: |
        Ordering specification. Format: `fieldName asc|desc`

        Multiple fields can be specified comma-separated.

        Examples:
        - `lastName asc`
        - `lastName asc,firstName asc`
        - `createdAt desc`
      schema:
        type: string
      example: lastName asc

    Filter:
      name: filter
      in: query
      description: |
        QueryLang filter expression.

        Syntax: `field operator value` with `and` to chain conditions.

        Operators:
        - `eq` - equals
        - `ne` - not equals
        - `gt` - greater than
        - `ge` - greater than or equal
        - `lt` - less than
        - `le` - less than or equal
        - `in` - in list
        - `startswith` - starts with

        Examples:
        - `status eq 'Active'`
        - `age gt 30 and status eq 'Active'`
        - `clients.id eq 123`
      schema:
        type: string
      example: status eq 'Active'

  responses:
    # Success Responses
    NoContent:
      description: Operation successful, no content returned

    # Error Responses
    BadRequest:
      description: Bad Request - Invalid data or validation failure
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
          examples:
            validationError:
              summary: Validation error example
              value:
                error:
                  code: VALIDATION_ERROR
                  message: Request validation failed
                  details:
                    - field: clients
                      issue: At least one client is required
                      value: []
            invalidEnum:
              summary: Invalid enum value
              value:
                error:
                  code: INVALID_ENUM_VALUE
                  message: Invalid meeting type value
                  details:
                    - field: meeting.meetingType
                      issue: Value must be one of Electronic, Videocall, FaceToFace, Telephone
                      value: Zoom

    Unauthorized:
      description: Unauthorized - Authentication required
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
          example:
            error:
              code: UNAUTHORIZED
              message: Authentication token is missing or invalid

    Forbidden:
      description: Forbidden - Insufficient permissions
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
          example:
            error:
              code: FORBIDDEN
              message: Insufficient permissions to access this resource

    NotFound:
      description: Not Found - Resource does not exist
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
          example:
            error:
              code: NOT_FOUND
              message: Resource not found

    Conflict:
      description: Conflict - Concurrent modification detected
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
          example:
            error:
              code: CONFLICT
              message: Resource has been modified by another user

  schemas:
    # Common Value Types
    MoneyValue:
      type: object
      required:
        - amount
        - currency
      properties:
        amount:
          type: number
          format: double
          description: Monetary amount with up to 2 decimal places
          example: 50000.00
        currency:
          $ref: '#/components/schemas/CurrencyCode'

    CurrencyCode:
      type: object
      required:
        - code
      properties:
        code:
          type: string
          description: ISO 4217 three-letter currency code
          pattern: '^[A-Z]{3}$'
          example: GBP

    Address:
      type: object
      required:
        - line1
        - city
        - postcode
        - country
      properties:
        line1:
          type: string
          maxLength: 100
          description: Address line 1
          example: 123 High Street
        line2:
          type: string
          maxLength: 100
          description: Address line 2 (optional)
          example: Apartment 4B
        city:
          type: string
          maxLength: 50
          description: City or town
          example: London
        county:
          type: string
          maxLength: 50
          description: County or region
          example: Greater London
        postcode:
          type: string
          maxLength: 20
          description: Postal code
          example: SW1A 1AA
        country:
          type: string
          pattern: '^[A-Z]{2}$'
          description: ISO 3166-1 alpha-2 country code
          example: GB

    ReferenceLink:
      type: object
      required:
        - id
        - href
      properties:
        id:
          type: integer
          format: int64
          description: Resource identifier
          example: 123
        href:
          type: string
          format: uri
          description: Link to resource
          example: /api/v3/factfinds/679/clients/123
        name:
          type: string
          description: Display name (read-only, populated by system)
          readOnly: true
          example: John Smith

    ClientReference:
      type: object
      required:
        - id
      properties:
        id:
          type: integer
          format: int64
          description: Client identifier
          example: 123
        href:
          type: string
          format: uri
          description: Link to client resource (read-only)
          readOnly: true
          example: /api/v3/factfinds/679/clients/123
        name:
          type: string
          description: Client name (read-only, populated from Client API)
          readOnly: true
          example: John Smith

    # Collection Response
    CollectionResponse:
      type: object
      required:
        - href
        - first_href
        - last_href
        - items
        - count
      properties:
        href:
          type: string
          format: uri
          description: Current page URL
          example: /api/v3/factfinds?$top=25&$skip=0
        first_href:
          type: string
          format: uri
          description: First page URL
          example: /api/v3/factfinds?$top=25&$skip=0
        last_href:
          type: string
          format: uri
          description: Last page URL
          example: /api/v3/factfinds?$top=25&$skip=125
        next_href:
          type: string
          nullable: true
          format: uri
          description: Next page URL (null if on last page)
          example: /api/v3/factfinds?$top=25&$skip=25
        prev_href:
          type: string
          nullable: true
          format: uri
          description: Previous page URL (null if on first page)
          example: null
        items:
          type: array
          description: Array of resources
        count:
          type: integer
          description: Total count across all pages
          example: 150

    # Error Response
    ErrorResponse:
      type: object
      required:
        - error
      properties:
        error:
          type: object
          required:
            - code
            - message
          properties:
            code:
              type: string
              description: Error code for programmatic handling
              example: VALIDATION_ERROR
            message:
              type: string
              description: Human-readable error message
              example: Request validation failed
            details:
              type: array
              description: Detailed error information
              items:
                type: object
                properties:
                  field:
                    type: string
                    description: Field name that caused the error
                    example: clients
                  issue:
                    type: string
                    description: Description of the issue
                    example: At least one client is required
                  value:
                    description: Value that caused the error
                    example: []

    # Enumerations
    GenderEnum:
      type: string
      enum:
        - Male
        - Female
        - Other
        - PreferNotToSay

    TitleEnum:
      type: string
      enum:
        - Mr
        - Mrs
        - Miss
        - Ms
        - Dr
        - Prof
        - Rev
        - Sir
        - Dame
        - Lord
        - Lady

    MaritalStatusEnum:
      type: string
      enum:
        - Single
        - Married
        - CivilPartnership
        - Divorced
        - Widowed
        - Separated
        - Cohabiting

    MeetingTypeEnum:
      type: string
      enum:
        - Electronic
        - ElectronicRecorded
        - Videocall
        - VideocallRecorded
        - FaceToFace
        - FaceToFaceRecorded
        - Telephone
        - TelephoneRecorded
      description: |
        Meeting types:
        - Electronic - Email, online form
        - ElectronicRecorded - Electronic with recording
        - Videocall - Video call meeting
        - VideocallRecorded - Video call with recording
        - FaceToFace - In-person meeting
        - FaceToFaceRecorded - In-person with recording
        - Telephone - Phone call
        - TelephoneRecorded - Phone call with recording (client consent required)

    DisclosureTypeEnum:
      type: string
      enum:
        - CombinedDisclosureDocuments
        - CombinedInitialDisclosureDocument
        - DisclosureDocument
        - KeyfactsAboutCostOfServices
        - KeyfactsAboutServices
        - ServiceCostDisclosureDocument
        - TermsRefundOfFees
        - TermsOfBusiness

    NonReductionReasonEnum:
      type: string
      enum:
        - RetainControlOfCapital
        - PensionPlanning
        - Other
      description: |
        Reasons for not reducing liabilities:
        - RetainControlOfCapital - Prefer liquidity and flexibility
        - PensionPlanning - Using liabilities as part of pension strategy
        - Other - Other reason (explain in details field)

    # Main Domain Schemas
    FactFind:
      type: object
      required:
        - id
        - href
        - clients
      properties:
        id:
          type: integer
          format: int64
          description: Unique system identifier
          readOnly: true
          example: 679
        href:
          type: string
          format: uri
          description: API resource link
          readOnly: true
          example: /api/v3/factfinds/679
        clients:
          type: array
          description: Array of associated clients (id required, name read-only)
          minItems: 1
          items:
            $ref: '#/components/schemas/ClientReference'
        meeting:
          $ref: '#/components/schemas/Meeting'
        disclosureKeyfacts:
          type: array
          description: Array of issued disclosure documents
          items:
            $ref: '#/components/schemas/DisclosureKeyfact'

    Meeting:
      type: object
      properties:
        meetingOn:
          type: string
          format: date
          description: Date meeting occurred (ISO 8601 YYYY-MM-DD)
          example: '2026-03-05'
        meetingType:
          $ref: '#/components/schemas/MeetingTypeEnum'
        clientsPresent:
          type: array
          description: Clients present at meeting
          items:
            $ref: '#/components/schemas/ClientReference'
        anyOtherAudience:
          type: boolean
          description: Whether other audience present (interpreter, family, etc.)
          example: false
        notes:
          type: string
          maxLength: 5000
          description: Meeting notes
          example: Initial consultation to discuss retirement planning.

    DisclosureKeyfact:
      type: object
      required:
        - Type
        - IssuedOn
      properties:
        Type:
          $ref: '#/components/schemas/DisclosureTypeEnum'
        IssuedOn:
          type: string
          format: date
          description: Date document issued to client (ISO 8601 YYYY-MM-DD)
          example: '2026-03-05'

    FactFindCollection:
      allOf:
        - $ref: '#/components/schemas/CollectionResponse'
        - type: object
          properties:
            items:
              type: array
              items:
                $ref: '#/components/schemas/FactFind'

    # Control Options Schemas
    ControlOptions:
      type: object
      required:
        - href
        - factfind
      properties:
        href:
          type: string
          format: uri
          description: API resource link
          readOnly: true
          example: /api/v3/factfinds/679/controloptions
        factfind:
          type: object
          description: FactFind reference (read-only)
          readOnly: true
          required:
            - id
            - href
          properties:
            id:
              type: integer
              format: int64
              example: 679
            href:
              type: string
              format: uri
              example: /api/v3/factfinds/679
        investments:
          $ref: '#/components/schemas/InvestmentsControl'
        pensions:
          $ref: '#/components/schemas/PensionsControl'
        mortgages:
          $ref: '#/components/schemas/MortgagesControl'
        protections:
          $ref: '#/components/schemas/ProtectionsControl'
        assets:
          $ref: '#/components/schemas/AssetsControl'
        liabilities:
          $ref: '#/components/schemas/LiabilitiesControl'

    InvestmentsControl:
      type: object
      properties:
        hasCash:
          type: boolean
          nullable: true
          description: Has cash savings or bank accounts
          example: true
        hasInvestments:
          type: boolean
          nullable: true
          description: Has investment products (ISAs, bonds, stocks, funds)
          example: true

    PensionsControl:
      type: object
      properties:
        hasEmployerPensionSchemes:
          type: boolean
          nullable: true
          description: Has employer pension schemes
          example: true
        hasFinalSalary:
          type: boolean
          nullable: true
          description: Has final salary (defined benefit) pensions
          example: false
        hasMoneyPurchases:
          type: boolean
          nullable: true
          description: Has money purchase (defined contribution) pensions
          example: true
        hasPersonalPensions:
          type: boolean
          nullable: true
          description: Has personal pensions (SIPPs, stakeholder)
          example: true
        hasAnnuities:
          type: boolean
          nullable: true
          description: Has annuity products
          example: false

    MortgagesControl:
      type: object
      properties:
        hasMortgages:
          type: boolean
          nullable: true
          description: Has residential mortgages
          example: true
        hasEquityRelease:
          type: boolean
          nullable: true
          description: Has equity release products (lifetime mortgage, home reversion)
          example: false

    ProtectionsControl:
      type: object
      properties:
        hasProtection:
          type: boolean
          nullable: true
          description: Has protection products (life, critical illness, income protection)
          example: true

    AssetsControl:
      type: object
      properties:
        hasAssets:
          type: boolean
          nullable: true
          description: Has assets (property, investments, cash)
          example: true

  # ============================================================================
  # REFERENCE DATA API SCHEMAS
  # ============================================================================

  # Enumerations for Reference Data Categories
    ReferenceDataCategoryEnum:
      type: string
      enum:
        - PERSONAL
        - EMPLOYMENT
        - FINANCIAL
        - PRODUCT
        - LOCATION
        - ADVISER
      description: |
        Category of reference data.
        - PERSONAL: Personal data lookups (genders, titles, marital statuses)
        - EMPLOYMENT: Employment-related lookups (statuses, occupation codes)
        - FINANCIAL: Financial lookups (income types, expenditure categories, frequencies)
        - PRODUCT: Product-related lookups (investment types, pension types, protection types)
        - LOCATION: Geographic lookups (countries, currencies, regions)
        - ADVISER: Adviser and firm data
  
    # Value Types
    EnumerationValue:
      type: object
      required:
        - code
        - display
      properties:
        code:
          type: string
          maxLength: 50
          description: Unique code for this enumeration value
          example: "M"
        display:
          type: string
          maxLength: 200
          description: Display text for this value
          example: "Male"
        description:
          type: string
          maxLength: 500
          description: Detailed description of this value
        sortOrder:
          type: integer
          description: Sort order for display purposes
        isActive:
          type: boolean
          description: Whether this value is currently active/available
          default: true
      description: Represents a single enumeration value in a lookup list
  
    Country:
      type: object
      required:
        - code
        - name
      properties:
        code:
          type: string
          pattern: '^[A-Z]{2}$'
          description: ISO 3166-1 alpha-2 country code
          example: "GB"
        name:
          type: string
          maxLength: 200
          description: Country name
          example: "United Kingdom"
        alpha3:
          type: string
          pattern: '^[A-Z]{3}$'
          description: ISO 3166-1 alpha-3 country code
          example: "GBR"
        numericCode:
          type: string
          pattern: '^\d{3}$'
          description: ISO 3166-1 numeric country code
          example: "826"
        region:
          type: string
          maxLength: 100
          description: Geographic region
          example: "Europe"
        isEU:
          type: boolean
          description: Whether country is in the European Union
        isActive:
          type: boolean
          description: Whether country is active for selection
          default: true
      description: Country reference data
  
    Currency:
      type: object
      required:
        - code
        - name
        - symbol
      properties:
        code:
          type: string
          pattern: '^[A-Z]{3}$'
          description: ISO 4217 three-letter currency code
          example: "GBP"
        name:
          type: string
          maxLength: 200
          description: Currency name
          example: "British Pound Sterling"
        symbol:
          type: string
          maxLength: 10
          description: Currency symbol
          example: "£"
        minorUnit:
          type: integer
          minimum: 0
          maximum: 4
          description: Number of decimal places (e.g., 2 for pence/cents)
          example: 2
        countries:
          type: array
          items:
            type: string
          description: Country codes using this currency
          example: ["GB", "IM", "JE", "GG"]
        isActive:
          type: boolean
          description: Whether currency is active for selection
          default: true
      description: Currency reference data
  
    Frequency:
      type: object
      required:
        - code
        - display
        - periodsPerYear
      properties:
        code:
          type: string
          maxLength: 10
          description: Frequency code
          example: "M"
        display:
          type: string
          maxLength: 100
          description: Display name
          example: "Monthly"
        periodsPerYear:
          type: integer
          minimum: 0
          description: Number of periods per year (0 for one-off)
          example: 12
        sortOrder:
          type: integer
          description: Sort order for display
        isActive:
          type: boolean
          default: true
      description: |
        Payment/contribution frequency reference data.
  
        **Standard Frequencies:**
        - ONE_OFF: One-off payment (0 periods/year)
        - WEEKLY: Weekly (52 periods/year)
        - FORTNIGHTLY: Fortnightly (26 periods/year)
        - FOUR_WEEKLY: Four-weekly (13 periods/year)
        - MONTHLY: Monthly (12 periods/year)
        - QUARTERLY: Quarterly (4 periods/year)
        - HALF_YEARLY: Half-yearly (2 periods/year)
        - ANNUALLY: Annually (1 period/year)

    FrequencyValue:
      type: object
      required:
        - code
      properties:
        code:
          type: string
          maxLength: 10
          description: Frequency code
          example: "M"
      description: Simplified frequency value reference

    TaxBand:
      type: object
      required:
        - taxYear
        - country
        - band
        - lowerLimit
        - rate
      properties:
        taxYear:
          type: string
          pattern: '^\d{4}/\d{2}$'
          description: Tax year
          example: "2024/25"
        country:
          type: string
          pattern: '^[A-Z]{2}$'
          description: Country code
          example: "GB"
        band:
          type: string
          maxLength: 50
          description: Band name
          example: "Basic Rate"
        lowerLimit:
          type: number
          format: double
          description: Lower limit of band
          example: 12570
        upperLimit:
          type: number
          nullable: true
          format: double
          description: Upper limit (null for unlimited)
          example: 50270
        rate:
          type: number
          format: float
          minimum: 0
          maximum: 100
          description: Tax rate percentage
          example: 20
        incomeType:
          type: string
          enum: [EMPLOYMENT, DIVIDEND, SAVINGS, CAPITAL_GAINS]
          description: Type of income this band applies to
      description: |
        Tax band and rate information.
  
        **UK Tax Bands 2024/25:**
        - Personal Allowance: £0 - £12,570 @ 0%
        - Basic Rate: £12,571 - £50,270 @ 20%
        - Higher Rate: £50,271 - £125,140 @ 40%
        - Additional Rate: £125,140+ @ 45%
  
    # Provider Entity
    Provider:
      type: object
      required:
        - name
        - providerType
      properties:
        id:
          type: integer
          readOnly: true
          description: Unique provider identifier
        name:
          type: string
          maxLength: 200
          description: Provider/institution name
          example: "Aviva"
        providerType:
          type: string
          enum:
            - PENSION_PROVIDER
            - INVESTMENT_PLATFORM
            - INSURANCE_COMPANY
            - BANK
            - BUILDING_SOCIETY
            - MORTGAGE_LENDER
            - DISCRETIONARY_FUND_MANAGER
            - WEALTH_MANAGER
            - OTHER
          description: Type of provider
        fcanumber:
          type: string
          maxLength: 20
          description: FCA firm reference number
          example: "134630"
        website:
          type: string
          format: uri
          maxLength: 500
          description: Provider website URL
        contactPhone:
          type: string
          maxLength: 50
          description: Contact phone number
        contactEmail:
          type: string
          format: email
          maxLength: 200
          description: Contact email address
        address:
          $ref: '#/components/schemas/Address'
        isActive:
          type: boolean
          description: Whether provider is active
          default: true
        notes:
          type: string
          maxLength: 2000
        createdAt:
          type: string
          format: date-time
          readOnly: true
        updatedAt:
          type: string
          format: date-time
          readOnly: true
      description: |
        Financial services provider/institution reference data.
  
        Used for tracking:
        - Pension providers
        - Investment platforms
        - Insurance companies
        - Banks and building societies
        - Mortgage lenders
        - Discretionary fund managers
  
    # Adviser Entity
    Adviser:
      type: object
      required:
        - firstName
        - lastName
        - adviserType
      properties:
        id:
          type: integer
          readOnly: true
          description: Unique adviser identifier
        title:
          type: string
          maxLength: 50
          example: "Mr"
        firstName:
          type: string
          maxLength: 100
          description: Adviser first name
          example: "John"
        lastName:
          type: string
          maxLength: 100
          description: Adviser last name
          example: "Smith"
        adviserType:
          type: string
          enum:
            - FINANCIAL_ADVISER
            - PARAPLANNER
            - ADMINISTRATOR
            - MANAGER
            - COMPLIANCE_OFFICER
          description: Type of adviser/role
        cfpNumber:
          type: string
          maxLength: 20
          description: Chartered Financial Planner number
        dipPFSNumber:
          type: string
          maxLength: 20
          description: Diploma in Financial Planning number
        fcaIndividualReference:
          type: string
          maxLength: 20
          description: FCA individual reference number
        email:
          type: string
          format: email
          maxLength: 200
          description: Email address
        phone:
          type: string
          maxLength: 50
          description: Phone number
        mobile:
          type: string
          maxLength: 50
          description: Mobile number
        officeId:
          type: integer
          description: Reference to office/branch
        isActive:
          type: boolean
          description: Whether adviser is currently active
          default: true
        startDate:
          type: string
          format: date
          description: Start date with firm
        endDate:
          type: string
          format: date
          description: End date with firm (if left)
        notes:
          type: string
          maxLength: 2000
        createdAt:
          type: string
          format: date-time
          readOnly: true
        updatedAt:
          type: string
          format: date-time
          readOnly: true
      description: |
        Adviser and paraplanner reference data.
  
        **Qualifications:**
        - CFP: Chartered Financial Planner
        - Dip PFS: Diploma in Regulated Financial Planning (Level 4)
        - AF: Advanced Financial Planning Certificate (Level 6)
        - CF: Chartered Fellow
  
    # Office/Branch Entity
    Office:
      type: object
      required:
        - name
        - address
      properties:
        id:
          type: integer
          readOnly: true
          description: Unique office identifier
        name:
          type: string
          maxLength: 200
          description: Office/branch name
          example: "London Office"
        officeCode:
          type: string
          maxLength: 20
          description: Internal office code
          example: "LON001"
        address:
          $ref: '#/components/schemas/Address'
        phone:
          type: string
          maxLength: 50
        email:
          type: string
          format: email
          maxLength: 200
        isHeadOffice:
          type: boolean
          description: Whether this is the head office
          default: false
        isActive:
          type: boolean
          description: Whether office is currently active
          default: true
        openedDate:
          type: string
          format: date
          description: Date office opened
        closedDate:
          type: string
          format: date
          description: Date office closed (if applicable)
        notes:
          type: string
          maxLength: 2000
        createdAt:
          type: string
          format: date-time
          readOnly: true
        updatedAt:
          type: string
          format: date-time
          readOnly: true
      description: Office/branch reference data
  
    # Collections
    EnumerationCollection:
      type: object
      properties:
        href:
          type: string
          format: uri
          example: "/api/v2/reference/genders"
        category:
          $ref: '#/components/schemas/ReferenceDataCategoryEnum'
        name:
          type: string
          description: Name of this enumeration
          example: "Genders"
        items:
          type: array
          items:
            $ref: '#/components/schemas/EnumerationValue'
        count:
          type: integer
          description: Number of enumeration values
      description: Collection of enumeration values
  
    CountryCollection:
      type: object
      properties:
        href:
          type: string
          format: uri
          example: "/api/v2/reference/countries"
        items:
          type: array
          items:
            $ref: '#/components/schemas/Country'
        count:
          type: integer
          description: Total number of countries
  
    CurrencyCollection:
      type: object
      properties:
        href:
          type: string
          format: uri
          example: "/api/v2/reference/currencies"
        items:
          type: array
          items:
            $ref: '#/components/schemas/Currency'
        count:
          type: integer
          description: Total number of currencies
  
    FrequencyCollection:
      type: object
      properties:
        href:
          type: string
          format: uri
          example: "/api/v2/reference/frequencies"
        items:
          type: array
          items:
            $ref: '#/components/schemas/Frequency'
        count:
          type: integer
          description: Total number of frequencies
  
    TaxBandCollection:
      type: object
      properties:
        href:
          type: string
          format: uri
          example: "/api/v2/reference/tax-bands"
        taxYear:
          type: string
          description: Tax year for these bands
        items:
          type: array
          items:
            $ref: '#/components/schemas/TaxBand'
        count:
          type: integer
  
    ProviderCollection:
      type: object
      properties:
        href:
          type: string
          format: uri
          example: "/api/v2/reference/providers"
        items:
          type: array
          items:
            $ref: '#/components/schemas/Provider'
        count:
          type: integer
          description: Total number of providers
  
    AdviserCollection:
      type: object
      properties:
        href:
          type: string
          format: uri
          example: "/api/v2/reference/advisers"
        items:
          type: array
          items:
            $ref: '#/components/schemas/Adviser'
        count:
          type: integer
          description: Total number of advisers
  
    OfficeCollection:
      type: object
      properties:
        href:
          type: string
          format: uri
          example: "/api/v2/reference/offices"
        items:
          type: array
          items:
            $ref: '#/components/schemas/Office'
        count:
          type: integer
          description: Total number of offices

    # Control Options Schemas
    LiabilitiesControl:
      type: object
      properties:
        hasLiabilities:
          type: boolean
          nullable: true
          description: Has liabilities (loans, credit cards, overdrafts)
          example: true
        reductionOfLiabilities:
          $ref: '#/components/schemas/ReductionOfLiabilities'

    ReductionOfLiabilities:
      type: object
      properties:
        isExpected:
          type: boolean
          nullable: true
          description: Whether reduction of liabilities is expected/planned
          example: false
        nonReductionReason:
          $ref: '#/components/schemas/NonReductionReasonEnum'
        details:
          type: string
          maxLength: 1000
          description: Additional details about liability strategy
          example: Client prefers to maintain liquidity for flexibility and investment opportunities.
  
    # ============================================================================
    # MORTGAGE API SCHEMAS
    # ============================================================================
  
    # Enumerations
    MortgageTypeEnum:
      type: string
      enum:
        - RESIDENTIAL
        - BUY_TO_LET
        - EQUITY_RELEASE
        - SECOND_HOME
        - COMMERCIAL
      description: |
        Type of mortgage arrangement.
        - RESIDENTIAL: Main residence mortgage
        - BUY_TO_LET: Investment property mortgage
        - EQUITY_RELEASE: Lifetime mortgage or home reversion
        - SECOND_HOME: Holiday/second home mortgage
        - COMMERCIAL: Commercial property mortgage
  
    MortgageRateTypeEnum:
      type: string
      enum:
        - FIXED
        - VARIABLE
        - TRACKER
        - DISCOUNT
        - CAPPED
      description: |
        Type of mortgage interest rate.
        - FIXED: Fixed rate for specified period
        - VARIABLE: Lender's standard variable rate
        - TRACKER: Tracks Bank of England base rate
        - DISCOUNT: Discount from lender's SVR
        - CAPPED: Maximum rate ceiling
  
    MortgageRepaymentMethodEnum:
      type: string
      enum:
        - REPAYMENT
        - INTEREST_ONLY
        - PART_AND_PART
      description: |
        Method of mortgage repayment.
        - REPAYMENT: Capital and interest paid monthly
        - INTEREST_ONLY: Only interest paid, capital due at end
        - PART_AND_PART: Combination of repayment and interest-only
  
    RepaymentVehicleTypeEnum:
      type: string
      enum:
        - INVESTMENT
        - PENSION
        - ENDOWMENT
        - ISA
        - SALE_OF_PROPERTY
        - INHERITANCE
        - OTHER
        - NONE
      description: |
        Planned repayment vehicle for interest-only mortgages.
  
    # Value Types
    MortgageOwner:
      type: object
      required:
        - clientId
      properties:
        clientId:
          type: integer
          description: Reference to client who owns this mortgage
        percentage:
          type: number
          format: float
          minimum: 0
          maximum: 100
          description: Percentage ownership (for joint mortgages)
      description: Mortgage owner with ownership percentage for joint mortgages
  
    RateDetails:
      type: object
      properties:
        currentRate:
          type: number
          format: float
          description: Current interest rate percentage
        rateType:
          $ref: '#/components/schemas/MortgageRateTypeEnum'
        fixedUntil:
          type: string
          format: date
          description: Date when fixed rate period ends
        revertToRate:
          type: number
          format: float
          description: Rate after fixed period ends (typically SVR)
        trackerMargin:
          type: number
          format: float
          description: Margin above base rate for tracker mortgages
      description: Mortgage interest rate details
  
    RepaymentVehicle:
      type: object
      properties:
        vehicleType:
          $ref: '#/components/schemas/RepaymentVehicleTypeEnum'
        currentValue:
          $ref: '#/components/schemas/MoneyValue'
        projectedValue:
          $ref: '#/components/schemas/MoneyValue'
        linkedResourceId:
          type: integer
          description: ID of linked investment/pension resource
        notes:
          type: string
          maxLength: 1000
      description: Repayment vehicle for interest-only mortgages
  
    # Domain Entity
    Mortgage:
      type: object
      required:
        - owners
        - mortgageType
        - lender
        - originalLoanAmount
        - amountOutstanding
        - interestRate
        - monthlyPayment
        - repaymentMethod
      properties:
        id:
          type: integer
          readOnly: true
          description: Unique identifier for the mortgage
        owners:
          type: array
          items:
            $ref: '#/components/schemas/MortgageOwner'
          minItems: 1
          description: Mortgage owners (single or joint)
        mortgageType:
          $ref: '#/components/schemas/MortgageTypeEnum'
        lender:
          type: string
          maxLength: 200
          description: Name of mortgage lender/provider
        accountNumber:
          type: string
          maxLength: 50
          description: Mortgage account reference number
        linkedPropertyId:
          type: integer
          description: Reference to property asset this mortgage secures
        linkedLiabilityId:
          type: integer
          description: Reference to liability record if tracked there
        originalLoanAmount:
          $ref: '#/components/schemas/MoneyValue'
        amountOutstanding:
          $ref: '#/components/schemas/MoneyValue'
        monthlyPayment:
          $ref: '#/components/schemas/MoneyValue'
        interestRate:
          type: number
          format: float
          minimum: 0
          maximum: 100
          description: Current interest rate percentage
        rateDetails:
          $ref: '#/components/schemas/RateDetails'
        repaymentMethod:
          $ref: '#/components/schemas/MortgageRepaymentMethodEnum'
        repaymentVehicle:
          $ref: '#/components/schemas/RepaymentVehicle'
        startDate:
          type: string
          format: date
          description: Mortgage start date
        endDate:
          type: string
          format: date
          description: Mortgage end date (maturity)
        termYears:
          type: integer
          minimum: 1
          maximum: 50
          description: Original term in years
        termRemainingMonths:
          type: integer
          minimum: 0
          description: Months remaining on term
        loanToValue:
          type: number
          format: float
          minimum: 0
          maximum: 100
          readOnly: true
          description: Loan-to-value ratio as percentage (calculated if property value known)
        earlyRepaymentCharge:
          $ref: '#/components/schemas/MoneyValue'
        productTransferDate:
          type: string
          format: date
          description: Date when product transfer/remortgage is planned
        isPortable:
          type: boolean
          description: Whether mortgage is portable to new property
        notes:
          type: string
          maxLength: 2000
        createdAt:
          type: string
          format: date-time
          readOnly: true
        updatedAt:
          type: string
          format: date-time
          readOnly: true
      description: |
        Represents a mortgage arrangement on a property.
  
        **FCA MCOB Requirements:**
        - Affordability assessment required
        - Interest rate stress testing at +3% or lender's reversion rate
        - Repayment strategy required for interest-only mortgages
  
        **Equity Release (Lifetime Mortgages):**
        - No monthly payments
        - Interest rolls up
        - Typically has no negative equity guarantee
        - Subject to Equity Release Council standards
  
    # Collection
    MortgageCollection:
      type: object
      properties:
        href:
          type: string
          format: uri
          example: "/api/v2/factfinds/123/mortgages"
        items:
          type: array
          items:
            $ref: '#/components/schemas/Mortgage'
        count:
          type: integer
          description: Total number of mortgages
        totalOutstanding:
          $ref: '#/components/schemas/MoneyValue'
          description: Total outstanding across all mortgages
        totalMonthlyPayments:
          $ref: '#/components/schemas/MoneyValue'
          description: Total monthly payments across all mortgages
  
    # ============================================================================
    # PERSONAL PROTECTION API SCHEMAS
    # ============================================================================
  
    # Enumerations
    ProtectionProductTypeEnum:
      type: string
      enum:
        - LIFE_INSURANCE
        - CRITICAL_ILLNESS
        - LIFE_AND_CRITICAL_ILLNESS
        - INCOME_PROTECTION
        - ACCIDENT_SICKNESS_UNEMPLOYMENT
        - PRIVATE_MEDICAL_INSURANCE
        - BUILDINGS_INSURANCE
        - CONTENTS_INSURANCE
        - FAMILY_INCOME_BENEFIT
      description: |
        Type of protection product.
        - LIFE_INSURANCE: Life cover only (level or decreasing term, whole of life)
        - CRITICAL_ILLNESS: Critical illness cover only
        - LIFE_AND_CRITICAL_ILLNESS: Combined life and critical illness cover
        - INCOME_PROTECTION: Long-term income protection (IP)
        - ACCIDENT_SICKNESS_UNEMPLOYMENT: Short-term ASU cover
        - PRIVATE_MEDICAL_INSURANCE: Private medical insurance (PMI)
        - BUILDINGS_INSURANCE: Buildings insurance
        - CONTENTS_INSURANCE: Contents insurance
        - FAMILY_INCOME_BENEFIT: Regular income on death (FIB)
  
    LifeCoverTypeEnum:
      type: string
      enum:
        - LEVEL_TERM
        - DECREASING_TERM
        - INCREASING_TERM
        - WHOLE_OF_LIFE
        - FAMILY_INCOME_BENEFIT
      description: |
        Type of life cover structure.
        - LEVEL_TERM: Fixed sum assured throughout term
        - DECREASING_TERM: Sum assured reduces (mortgage protection)
        - INCREASING_TERM: Sum assured increases (inflation protection)
        - WHOLE_OF_LIFE: Cover for entire life
        - FAMILY_INCOME_BENEFIT: Regular income payments on death
  
    ProtectionStatusEnum:
      type: string
      enum:
        - ACTIVE
        - LAPSED
        - CLAIMED
        - EXPIRED
        - CANCELLED
      description: Current status of protection policy
  
    UnderwritingTypeEnum:
      type: string
      enum:
        - FULL_UNDERWRITING
        - MORATORIUM
        - CONTINUED_PERSONAL_MEDICAL_EXCLUSIONS
        - GUARANTEED_ACCEPTANCE
      description: |
        Type of underwriting applied to the policy.
        - FULL_UNDERWRITING: Full medical underwriting at application
        - MORATORIUM: Pre-existing conditions excluded for specified period
        - CONTINUED_PERSONAL_MEDICAL_EXCLUSIONS: Specific exclusions listed
        - GUARANTEED_ACCEPTANCE: No underwriting (typically lower cover amounts)
  
    # Value Types
    ProtectionOwner:
      type: object
      required:
        - clientId
      properties:
        clientId:
          type: integer
          description: Reference to client who owns this policy
        isLifeAssured:
          type: boolean
          description: Whether this owner is a life assured
      description: Policy owner and life assured indicator
  
    Beneficiary:
      type: object
      required:
        - name
      properties:
        name:
          type: string
          maxLength: 200
          description: Name of beneficiary
        relationship:
          type: string
          maxLength: 100
          description: Relationship to policy owner
        percentage:
          type: number
          format: float
          minimum: 0
          maximum: 100
          description: Percentage of benefit
        clientId:
          type: integer
          description: Reference to client if beneficiary is a client
      description: Policy beneficiary
  
    TrustDetails:
      type: object
      properties:
        isInTrust:
          type: boolean
          description: Whether policy is written in trust
        trustType:
          type: string
          maxLength: 100
          description: Type of trust (e.g., Absolute, Discretionary, Bare)
        trustees:
          type: array
          items:
            type: string
          description: Names of trustees
        trustDate:
          type: string
          format: date
          description: Date trust was established
      description: Trust arrangement details
  
    UnderwritingDetails:
      type: object
      properties:
        underwritingType:
          $ref: '#/components/schemas/UnderwritingTypeEnum'
        medicalExclusions:
          type: array
          items:
            type: string
          description: List of medical exclusions
        loadings:
          type: array
          items:
            type: object
            properties:
              reason:
                type: string
              percentage:
                type: number
                format: float
          description: Premium loadings applied
        moratoriumPeriod:
          type: integer
          description: Moratorium period in months
      description: Underwriting and exclusions
  
    ClaimHistory:
      type: object
      properties:
        hasClaims:
          type: boolean
        claims:
          type: array
          items:
            type: object
            properties:
              claimDate:
                type: string
                format: date
              claimType:
                type: string
              amountClaimed:
                $ref: '#/components/schemas/MoneyValue'
              amountPaid:
                $ref: '#/components/schemas/MoneyValue'
              status:
                type: string
                enum: [PENDING, APPROVED, REJECTED, PAID]
      description: Claims history for this policy
  
    # Domain Entity
    Protection:
      type: object
      required:
        - owners
        - protectionType
        - provider
        - coverAmount
        - premium
      properties:
        id:
          type: integer
          readOnly: true
          description: Unique identifier for the protection policy
        owners:
          type: array
          items:
            $ref: '#/components/schemas/ProtectionOwner'
          minItems: 1
          description: Policy owners and lives assured
        protectionType:
          $ref: '#/components/schemas/ProtectionProductTypeEnum'
        lifeCoverType:
          $ref: '#/components/schemas/LifeCoverTypeEnum'
        provider:
          type: string
          maxLength: 200
          description: Insurance provider/company
        policyNumber:
          type: string
          maxLength: 50
          description: Policy reference number
        coverAmount:
          $ref: '#/components/schemas/MoneyValue'
        premium:
          $ref: '#/components/schemas/MoneyValue'
        premiumFrequency:
          $ref: '#/components/schemas/FrequencyValue'
        annualPremium:
          $ref: '#/components/schemas/MoneyValue'
          readOnly: true
          description: Calculated annual premium
        startDate:
          type: string
          format: date
          description: Policy start date
        endDate:
          type: string
          format: date
          description: Policy end date (if term assurance)
        reviewDate:
          type: string
          format: date
          description: Next policy review date
        status:
          $ref: '#/components/schemas/ProtectionStatusEnum'
        beneficiaries:
          type: array
          items:
            $ref: '#/components/schemas/Beneficiary'
          description: Policy beneficiaries
        trustDetails:
          $ref: '#/components/schemas/TrustDetails'
        underwritingDetails:
          $ref: '#/components/schemas/UnderwritingDetails'
        linkedLiabilityId:
          type: integer
          description: Reference to liability this policy protects
        deferredPeriod:
          type: integer
          description: Deferred period in weeks (for income protection)
        benefitPeriod:
          type: integer
          description: Benefit period in months (for income protection, ASU)
        claimHistory:
          $ref: '#/components/schemas/ClaimHistory'
        isIndexLinked:
          type: boolean
          description: Whether cover increases with inflation
        isGuaranteedPremium:
          type: boolean
          description: Whether premium is guaranteed not to increase
        isRenewable:
          type: boolean
          description: Whether policy is renewable at end of term
        commissionReceived:
          $ref: '#/components/schemas/MoneyValue'
        adviceGiven:
          type: boolean
          description: Whether regulated advice was given
        notes:
          type: string
          maxLength: 2000
        createdAt:
          type: string
          format: date-time
          readOnly: true
        updatedAt:
          type: string
          format: date-time
          readOnly: true
      description: |
        Represents a personal protection insurance policy.
  
        **FCA ICOBS/IDD Requirements:**
        - Demands and needs statement required
        - Suitability letter for advised sales
        - Product disclosure required
        - Annual renewal notices (general insurance)
  
        **Protection Types:**
        - Life Insurance: Pays lump sum on death
        - Critical Illness: Pays lump sum on diagnosis of specified illness
        - Income Protection: Replaces income if unable to work (long-term)
        - ASU: Short-term cover for accident, sickness, unemployment
        - PMI: Private medical treatment costs
  
        **Trust Benefits:**
        - Estate planning: Removes policy proceeds from estate for IHT
        - Speed of payout: Avoids probate delays
        - Flexibility: Can specify beneficiaries
  
    # Collection
    ProtectionCollection:
      type: object
      properties:
        href:
          type: string
          format: uri
          example: "/api/v2/factfinds/123/protections"
        items:
          type: array
          items:
            $ref: '#/components/schemas/Protection'
        count:
          type: integer
          description: Total number of protection policies
        totalCoverAmount:
          $ref: '#/components/schemas/MoneyValue'
          description: Total cover across all policies
        totalAnnualPremiums:
          $ref: '#/components/schemas/MoneyValue'
          description: Total annual premiums across all policies

    # ============================================================================
    # PROTECTION REVIEW API SCHEMAS
    # ============================================================================

    ProtectionReviewSummary:
      type: object
      required:
        - href
        - factfind
      properties:
        href:
          type: string
          format: uri
          readOnly: true
          example: /api/v3/factfinds/679/protections/reviews/summary
        factfind:
          type: object
          readOnly: true
          properties:
            id:
              type: integer
              format: int64
              example: 679
            href:
              type: string
              format: uri
              example: /api/v3/factfinds/679
        lifeAndCriticalIllness:
          $ref: '#/components/schemas/LifeAndCriticalIllnessReview'
        incomeProtection:
          $ref: '#/components/schemas/IncomeProtectionReview'
        buildingsAndContent:
          $ref: '#/components/schemas/BuildingsAndContentReview'
        createdAt:
          type: string
          format: date-time
          readOnly: true
        updatedAt:
          type: string
          format: date-time
          readOnly: true

    LifeAndCriticalIllnessReview:
      type: object
      properties:
        hasCoverForMortgageOrDebt:
          type: string
          enum: [Yes, No, NotApplicable]
          description: Has cover to repay mortgage/debt on death
          example: Yes
        hasCoverforDependantsDueToCritcalIllness:
          type: string
          enum: [Yes, No]
          description: Has cover for dependants if diagnosed with critical illness
          example: Yes
        hasCoverforDependantsUponDeath:
          type: string
          enum: [Yes, No, NotApplicable]
          description: Has cover for dependants upon death
          example: Yes
        hasReviewedCostofProtectionChange:
          type: string
          enum: [Yes, No]
          description: Has reviewed cost implications of protection changes
          example: No
        impactOnYou:
          type: string
          maxLength: 2000
          description: Impact on client if protection gap exists
        impactOnDepandants:
          type: string
          maxLength: 2000
          description: Impact on dependants if protection gap exists
        actionsToAddressImpacts:
          type: string
          maxLength: 2000
          description: Planned actions to address protection gaps
        reasonforNotReviewing:
          type: string
          maxLength: 1000
          description: Reason for not reviewing this protection area

    IncomeProtectionReview:
      type: object
      properties:
        hasCoverDueToAccidentOrIllness:
          type: boolean
          description: Has income protection cover for accident or illness
          example: true
        hasCoverDueToUnemployment:
          type: boolean
          description: Has income protection cover for unemployment
          example: false
        impactOnYou:
          type: string
          maxLength: 2000
          description: Impact on client if income protection gap exists
        impactOnDepandants:
          type: string
          maxLength: 2000
          description: Impact on dependants if income protection gap exists
        actionsToAddressImpacts:
          type: string
          maxLength: 2000
          description: Planned actions to address income protection gaps
        reasonforNotReviewing:
          type: string
          maxLength: 1000
          description: Reason for not reviewing income protection

    BuildingsAndContentReview:
      type: object
      properties:
        hasExistingBuildingInsurance:
          type: boolean
          description: Has existing buildings insurance
          example: true
        hasExistingContentInsurance:
          type: boolean
          description: Has existing contents insurance
          example: true
        buyToLetProperties:
          type: object
          properties:
            haveBuildingContentInsurance:
              type: boolean
              description: Buy-to-let properties have buildings/contents insurance
        hasSufficientCover:
          type: boolean
          description: Current insurance cover is sufficient
          example: true
        actionsToAddressImpacts:
          type: string
          maxLength: 2000
          description: Planned actions to address insurance gaps
        whenDoyouWantToReviewProtection:
          type: string
          maxLength: 500
          description: When client wants to review protection
          example: Next annual review
        reasonforNotReviewing:
          type: string
          maxLength: 1000
          description: Reason for not reviewing buildings & content insurance

    # ============================================================================
    # OBJECTIVES API SCHEMAS
    # ============================================================================
  
    # Enumerations
    ObjectiveCategoryEnum:
      type: string
      enum:
        - RETIREMENT
        - INVESTMENT
        - PROTECTION
        - MORTGAGE
        - EDUCATION
        - ESTATE_PLANNING
        - TAX_PLANNING
        - INCOME
        - DEBT_REDUCTION
        - EMERGENCY_FUND
        - OTHER
      description: |
        Category of financial objective.
        - RETIREMENT: Retirement planning and pension accumulation
        - INVESTMENT: Investment growth and wealth accumulation
        - PROTECTION: Protection needs and insurance planning
        - MORTGAGE: Home purchase or mortgage planning
        - EDUCATION: Education funding for children
        - ESTATE_PLANNING: Inheritance and estate planning
        - TAX_PLANNING: Tax efficiency and mitigation
        - INCOME: Income generation and cash flow
        - DEBT_REDUCTION: Debt consolidation and reduction
        - EMERGENCY_FUND: Emergency savings buffer
        - OTHER: Other financial goals
  
    ObjectivePriorityEnum:
      type: string
      enum:
        - CRITICAL
        - HIGH
        - MEDIUM
        - LOW
      description: |
        Priority level of objective.
        - CRITICAL: Must achieve (e.g., debt repayment, essential protection)
        - HIGH: Important goals (e.g., retirement, education)
        - MEDIUM: Desirable goals (e.g., home improvements)
        - LOW: Nice to have (e.g., luxury purchases)
  
    ObjectiveStatusEnum:
      type: string
      enum:
        - NOT_STARTED
        - IN_PROGRESS
        - ACHIEVED
        - DEFERRED
        - CANCELLED
      description: Current status of objective
  
    TimeHorizonEnum:
      type: string
      enum:
        - SHORT_TERM
        - MEDIUM_TERM
        - LONG_TERM
      description: |
        Time horizon for achieving objective.
        - SHORT_TERM: 0-5 years
        - MEDIUM_TERM: 5-10 years
        - LONG_TERM: 10+ years
  
    # Value Types
    ObjectiveProgress:
      type: object
      properties:
        currentValue:
          $ref: '#/components/schemas/MoneyValue'
        targetValue:
          $ref: '#/components/schemas/MoneyValue'
        percentageComplete:
          type: number
          format: float
          minimum: 0
          maximum: 100
          readOnly: true
          description: Calculated as (currentValue / targetValue) * 100
        onTrack:
          type: boolean
          readOnly: true
          description: Whether objective is on track based on time remaining
        requiredMonthlySavings:
          $ref: '#/components/schemas/MoneyValue'
          readOnly: true
          description: Monthly savings required to achieve target
      description: Progress tracking for objective
  
    LinkedResource:
      type: object
      properties:
        resourceType:
          type: string
          enum: [INVESTMENT, PENSION, ASSET, PROTECTION, MORTGAGE]
          description: Type of linked resource
        resourceId:
          type: integer
          description: ID of linked resource
        contribution:
          $ref: '#/components/schemas/MoneyValue'
          description: How much this resource contributes to objective
      description: Resources linked to achieving this objective
  
    # Domain Entity
    Objective:
      type: object
      required:
        - clientIds
        - category
        - title
        - priority
      properties:
        id:
          type: integer
          readOnly: true
          description: Unique identifier for the objective
        clientIds:
          type: array
          items:
            type: integer
          minItems: 1
          description: Clients this objective applies to
        category:
          $ref: '#/components/schemas/ObjectiveCategoryEnum'
        title:
          type: string
          maxLength: 200
          description: Short title/name for the objective
        description:
          type: string
          maxLength: 2000
          description: Detailed description of the objective
        priority:
          $ref: '#/components/schemas/ObjectivePriorityEnum'
        status:
          $ref: '#/components/schemas/ObjectiveStatusEnum'
        timeHorizon:
          $ref: '#/components/schemas/TimeHorizonEnum'
        targetDate:
          type: string
          format: date
          description: Target date to achieve objective
        targetAmount:
          $ref: '#/components/schemas/MoneyValue'
        progress:
          $ref: '#/components/schemas/ObjectiveProgress'
        linkedResources:
          type: array
          items:
            $ref: '#/components/schemas/LinkedResource'
          description: Products/resources contributing to this objective
        riskTolerance:
          type: string
          enum: [CAUTIOUS, BALANCED, ADVENTUROUS]
          description: Risk tolerance for this specific objective
        assumptions:
          type: object
          properties:
            inflationRate:
              type: number
              format: float
            growthRate:
              type: number
              format: float
            contributionIncrease:
              type: number
              format: float
          description: Assumptions used in calculations
        achievedDate:
          type: string
          format: date
          description: Date objective was achieved
        notes:
          type: string
          maxLength: 2000
        createdAt:
          type: string
          format: date-time
          readOnly: true
        updatedAt:
          type: string
          format: date-time
          readOnly: true
      description: |
        Represents a financial objective or goal.
  
        **Objective Planning:**
        - SMART framework: Specific, Measurable, Achievable, Relevant, Time-bound
        - Prioritization: Critical needs vs wants
        - Resource allocation: Match products to objectives
        - Progress tracking: Regular reviews and adjustments
  
        **Common Objectives:**
        - Retirement at age X with income of £Y
        - University education funding £Z in N years
        - Emergency fund 3-6 months expenses
        - Mortgage repayment by date
        - Estate planning to minimize IHT
        - Generate additional income of £X per month
  
    # Collection
    ObjectiveCollection:
      type: object
      properties:
        href:
          type: string
          format: uri
          example: "/api/v2/factfinds/123/objectives"
        items:
          type: array
          items:
            $ref: '#/components/schemas/Objective'
        count:
          type: integer
          description: Total number of objectives
        summary:
          type: object
          properties:
            byCat egory:
              type: object
              additionalProperties:
                type: integer
              description: Count by category
            byPriority:
              type: object
              additionalProperties:
                type: integer
              description: Count by priority
            byStatus:
              type: object
              additionalProperties:
                type: integer
              description: Count by status
  
    # ============================================================================
    # ATR ASSESSMENT API SCHEMAS
    # ============================================================================
  
    # Enumerations
    ATRRatingEnum:
      type: string
      enum:
        - VERY_CAUTIOUS
        - CAUTIOUS
        - BALANCED
        - ADVENTUROUS
        - VERY_ADVENTUROUS
      description: |
        Attitude to Risk rating.
        - VERY_CAUTIOUS: Risk level 1-2, minimal volatility tolerance
        - CAUTIOUS: Risk level 3-4, low volatility tolerance
        - BALANCED: Risk level 5-6, moderate volatility tolerance
        - ADVENTUROUS: Risk level 7-8, high volatility tolerance
        - VERY_ADVENTUROUS: Risk level 9-10, very high volatility tolerance
  
    CapacityForLossEnum:
      type: string
      enum:
        - LOW
        - MEDIUM
        - HIGH
      description: |
        Capacity for loss assessment.
        - LOW: Limited ability to absorb losses without impacting lifestyle
        - MEDIUM: Can absorb moderate losses without significant impact
        - HIGH: Can absorb significant losses without impacting lifestyle
  
    InvestmentExperienceLevelEnum:
      type: string
      enum:
        - NONE
        - LIMITED
        - MODERATE
        - EXTENSIVE
      description: Level of investment experience
  
    # Value Types
    ATRQuestionResponse:
      type: object
      required:
        - questionId
        - answer
      properties:
        questionId:
          type: string
          description: Unique identifier for the question
        questionText:
          type: string
          description: The question that was asked
        answer:
          type: string
          description: The client's answer
        score:
          type: integer
          description: Score assigned to this answer
      description: Individual question response in ATR questionnaire
  
    InvestmentExperience:
      type: object
      properties:
        experienceLevel:
          $ref: '#/components/schemas/InvestmentExperienceLevelEnum'
        hasOwnedEquities:
          type: boolean
        hasOwnedFunds:
          type: boolean
        hasOwnedBonds:
          type: boolean
        hasOwnedAlternatives:
          type: boolean
        yearsInvesting:
          type: integer
          minimum: 0
        notes:
          type: string
          maxLength: 1000
      description: Client's investment experience details
  
    TimeHorizonDetails:
      type: object
      properties:
        investmentPeriodYears:
          type: integer
          minimum: 0
          description: Number of years until funds needed
        targetRetirementAge:
          type: integer
          minimum: 0
        yearsToRetirement:
          type: integer
          minimum: 0
          readOnly: true
        canLockUpFunds:
          type: boolean
          description: Whether client can lock up funds for extended period
      description: Investment time horizon details
  
    VolatilityTolerance:
      type: object
      properties:
        maxAcceptableLoss:
          type: number
          format: float
          minimum: 0
          maximum: 100
          description: Maximum acceptable loss percentage
        reactionToLosses:
          type: string
          enum: [SELL_IMMEDIATELY, HOLD, BUY_MORE]
        portfolioReviewFrequency:
          type: string
          enum: [DAILY, WEEKLY, MONTHLY, QUARTERLY, ANNUALLY, RARELY]
      description: Client's tolerance for investment volatility
  
    # Domain Entity
    ATRAssessment:
      type: object
      required:
        - clientId
        - assessmentDate
        - rating
      properties:
        id:
          type: integer
          readOnly: true
          description: Unique identifier for the ATR assessment
        clientId:
          type: integer
          description: Client this assessment is for
        assessmentDate:
          type: string
          format: date
          description: Date assessment was completed
        rating:
          $ref: '#/components/schemas/ATRRatingEnum'
        riskScore:
          type: integer
          minimum: 1
          maximum: 10
          description: Numerical risk score (1=very cautious, 10=very adventurous)
        capacityForLoss:
          $ref: '#/components/schemas/CapacityForLossEnum'
        investmentExperience:
          $ref: '#/components/schemas/InvestmentExperience'
        timeHorizon:
          $ref: '#/components/schemas/TimeHorizonDetails'
        volatilityTolerance:
          $ref: '#/components/schemas/VolatilityTolerance'
        questionnaireResponses:
          type: array
          items:
            $ref: '#/components/schemas/ATRQuestionResponse'
          description: Responses to ATR questionnaire questions
        questionnaireName:
          type: string
          maxLength: 200
          description: Name of ATR questionnaire used
        questionnaireVersion:
          type: string
          maxLength: 50
          description: Version of questionnaire
        totalQuestions:
          type: integer
          description: Total number of questions in questionnaire
        totalScore:
          type: integer
          description: Total score from all questions
        assessedBy:
          type: string
          maxLength: 200
          description: Adviser who conducted assessment
        validUntil:
          type: string
          format: date
          description: Date when assessment expires (typically 12 months)
        isValid:
          type: boolean
          readOnly: true
          description: Whether assessment is still valid
        reviewDate:
          type: string
          format: date
          description: Date for next review
        previousAssessmentId:
          type: integer
          description: Reference to previous assessment for comparison
        hasChangedSinceLastAssessment:
          type: boolean
          description: Whether rating has changed from previous assessment
        notes:
          type: string
          maxLength: 2000
        createdAt:
          type: string
          format: date-time
          readOnly: true
        updatedAt:
          type: string
          format: date-time
          readOnly: true
      description: |
        Represents an Attitude to Risk (ATR) assessment.
  
        **FCA Requirements:**
        - ATR assessment mandatory for investment advice (COBS 9.2)
        - Must assess client's risk tolerance and capacity for loss
        - Must be reviewed regularly (typically annually or on life changes)
        - Must consider knowledge, experience, and financial situation
  
        **Assessment Components:**
        1. **Attitude to Risk:** Psychological willingness to take risk
        2. **Capacity for Loss:** Financial ability to absorb losses
        3. **Investment Experience:** Knowledge and understanding
        4. **Time Horizon:** When funds will be needed
  
        **Risk Ratings:**
        - Very Cautious (1-2): Cash, short bonds, capital preservation
        - Cautious (3-4): 20-40% equities, defensive
        - Balanced (5-6): 40-60% equities, balanced growth
        - Adventurous (7-8): 60-80% equities, growth focused
        - Very Adventurous (9-10): 80-100% equities, maximum growth
  
        **Validity:**
        - Assessments typically valid for 12 months
        - Review triggered by life events (retirement, inheritance, job loss)
        - Material changes in circumstances require new assessment
  
    # Collection
    ATRAssessmentCollection:
      type: object
      properties:
        href:
          type: string
          format: uri
          example: "/api/v2/factfinds/123/atr-assessments"
        items:
          type: array
          items:
            $ref: '#/components/schemas/ATRAssessment'
        count:
          type: integer
          description: Total number of ATR assessments
        currentAssessment:
          $ref: '#/components/schemas/ATRAssessment'
          description: Most recent valid assessment
        assessmentHistory:
          type: array
          items:
            type: object
            properties:
              assessmentId:
                type: integer
              assessmentDate:
                type: string
                format: date
              rating:
                $ref: '#/components/schemas/ATRRatingEnum'
              riskScore:
                type: integer
          description: Historical ratings for trend analysis
  # API Paths
    # Phase 2: Client Management Enumerations
    ClientTypeEnum:
      type: string
      enum:
        - Person
        - Corporate
        - Trust
      description: Type of client entity

    ClientSegmentEnum:
      type: string
      enum:
        - A
        - B
        - C
        - D
      description: Client segment classification (A=highest value, D=lowest value)

    ServiceStatusEnum:
      type: string
      enum:
        - Active
        - Inactive
        - Prospect
        - Lapsed
        - Deceased
      description: Current service status of the client

    EmploymentStatusEnum:
      type: string
      enum:
        - Employed
        - SelfEmployed
        - Unemployed
        - Retired
        - Student
        - Homemaker
        - Disabled
      description: Current employment status

    SmokingStatusEnum:
      type: string
      enum:
        - NEVER
        - EX_SMOKER
        - CURRENT_SMOKER
        - OCCASIONAL
      description: Smoking status for insurance purposes

    BMICategoryEnum:
      type: string
      enum:
        - Underweight
        - Normal
        - Overweight
        - Obese
      description: BMI category classification

    AddressTypeEnum:
      type: string
      enum:
        - Residential
        - Previous
        - Business
        - BTL
        - Holiday
      description: |
        Address type:
        - Residential: Current residential address
        - Previous: Historical residential address
        - Business: Business/work address
        - BTL: Buy-to-let property address
        - Holiday: Holiday home address

    ResidencyStatusEnum:
      type: string
      enum:
        - Owner
        - Tenant
        - LivingWithFamily
        - Other
      description: Residency status at address

    ContactTypeEnum:
      type: string
      enum:
        - Mobile
        - Home
        - Work
        - Email
        - Fax
      description: Contact method type

    ContactPreferenceEnum:
      type: string
      enum:
        - Primary
        - Secondary
        - Emergency
      description: Contact preference level

    ProfessionalContactTypeEnum:
      type: string
      enum:
        - Solicitor
        - Accountant
        - Banker
        - Mortgage Broker
        - Insurance Broker
        - Estate Agent
        - Other
      description: Type of professional contact

    RelationshipTypeEnum:
      type: string
      enum:
        - Spouse
        - Partner
        - Parent
        - Child
        - Sibling
        - Other Family
        - Friend
        - Business Partner
        - Power of Attorney
        - Executor
        - Guardian
      description: Type of relationship to client

    VulnerabilityTypeEnum:
      type: string
      enum:
        - Physical
        - Mental
        - Financial
        - Digital
        - Temporary
      description: |
        Type of vulnerability (FCA Consumer Duty):
        - Physical: Physical disability or health condition
        - Mental: Mental health condition or cognitive impairment
        - Financial: Financial difficulty or over-indebtedness
        - Digital: Low digital literacy or access
        - Temporary: Temporary life event (bereavement, divorce)

    IdentificationDocumentTypeEnum:
      type: string
      enum:
        - Passport
        - DrivingLicence
        - NationalIDCard
        - BirthCertificate
        - ResidencePermit
      description: Type of identification document (MLR 2017)

    VerificationMethodEnum:
      type: string
      enum:
        - FaceToFace
        - ElectronicVerification
        - PostalVerification
        - ThirdPartyVerification
      description: Method used for identity verification (MLR 2017)

    CreditEventTypeEnum:
      type: string
      enum:
        - CCJ
        - Default
        - IVA
        - Bankruptcy
        - Arrears
        - DebtReliefOrder
        - TrustDeed
      description: |
        Type of adverse credit event:
        - CCJ: County Court Judgment
        - Default: Payment default
        - IVA: Individual Voluntary Arrangement
        - Bankruptcy: Bankruptcy order
        - Arrears: Payment arrears
        - DebtReliefOrder: Debt Relief Order
        - TrustDeed: Protected Trust Deed (Scotland)

    MarketingChannelEnum:
      type: string
      enum:
        - Email
        - Phone
        - SMS
        - Post
        - InPerson
      description: Marketing communication channel (PECR compliance)

    # Phase 2: Client Management Schemas
    Client:
      type: object
      required:
        - id
        - href
        - clientType
        - factfind
      properties:
        id:
          type: integer
          format: int64
          description: Unique system identifier
          readOnly: true
          example: 8496
        href:
          type: string
          format: uri
          description: API link to this resource
          readOnly: true
          example: /api/v3/factfinds/679/clients/8496
        clientNumber:
          type: string
          maxLength: 50
          description: Client reference number assigned by organization
          example: C00001234
        clientType:
          $ref: '#/components/schemas/ClientTypeEnum'
        clientCategory:
          type: string
          maxLength: 50
          description: Client category (HighNetWorth, MassMarket, etc.)
          example: HighNetWorth
        clientSegment:
          $ref: '#/components/schemas/ClientSegmentEnum'
        clientSegmentDate:
          type: string
          format: date
          description: Date of segment classification
          example: '2020-01-15'
        serviceStatus:
          $ref: '#/components/schemas/ServiceStatusEnum'
        serviceStatusDate:
          type: string
          format: date
          description: Date of service status change
          example: '2020-01-15'
        isJoint:
          type: boolean
          description: Whether part of a joint (couple) fact find
          example: true
        isHeadOfFamilyGroup:
          type: boolean
          description: Whether primary contact for family group
          example: true
        isMatchingServiceProposition:
          type: boolean
          description: Whether requires matching service due to vulnerability
          example: false
        matchingServicePropositionReason:
          type: string
          nullable: true
          maxLength: 500
          description: Reason for matching service
        spouseRef:
          allOf:
            - $ref: '#/components/schemas/ClientReference'
            - description: Link to spouse/partner client record
        adviser:
          type: object
          description: The adviser responsible for this client
          properties:
            id:
              type: integer
              format: int64
              example: 8724
            code:
              type: string
              example: ADV001
            name:
              type: string
              example: Jane Doe
        paraplannerRef:
          type: object
          description: The paraplanner assigned to this client
          properties:
            id:
              type: integer
              format: int64
              example: 8082
            code:
              type: string
              example: PP001
            name:
              type: string
              example: Tom Johnson
        officeRef:
          type: object
          description: The office/branch where client is managed
          properties:
            id:
              type: integer
              format: int64
              example: 3797
            code:
              type: string
              example: LON
            name:
              type: string
              example: London Office
        factfind:
          type: object
          description: Link to the FactFind that this client belongs to
          readOnly: true
          required:
            - id
          properties:
            id:
              type: integer
              format: int64
              example: 679
            factFindNumber:
              type: string
              example: FF-2025-00123
            status:
              type: string
              example: INP
        personValue:
          $ref: '#/components/schemas/PersonValue'
        territorialProfile:
          $ref: '#/components/schemas/TerritorialProfile'
        createdAt:
          type: string
          format: date-time
          description: When this record was created
          readOnly: true
          example: '2020-01-15T10:30:00Z'
        updatedAt:
          type: string
          format: date-time
          description: When this record was last modified
          readOnly: true
          example: '2026-02-16T14:30:00Z'
        createdBy:
          type: object
          description: User who created this record
          readOnly: true
          properties:
            id:
              type: integer
              format: int64
            name:
              type: string
        updatedBy:
          type: object
          description: User who last modified this record
          readOnly: true
          properties:
            id:
              type: integer
              format: int64
            name:
              type: string

    PersonValue:
      type: object
      required:
        - firstName
        - lastName
        - dateOfBirth
      description: Personal information (required when clientType=Person)
      properties:
        title:
          $ref: '#/components/schemas/TitleEnum'
        firstName:
          type: string
          maxLength: 100
          description: First name (given name)
          example: John
        middleNames:
          type: string
          maxLength: 200
          description: Middle name(s)
          example: Michael Robert
        lastName:
          type: string
          maxLength: 100
          description: Last name (surname/family name)
          example: Smith
        fullName:
          type: string
          description: Complete formatted name including title
          readOnly: true
          example: Mr John Michael Robert Smith
        preferredName:
          type: string
          maxLength: 100
          description: Name the client prefers to be called
          example: John
        salutation:
          type: string
          maxLength: 100
          description: How to address the client
          example: Mr Smith
        dateOfBirth:
          type: string
          format: date
          description: Date of birth (ISO 8601 YYYY-MM-DD)
          example: '1980-05-15'
        age:
          type: integer
          description: Current age (calculated from date of birth)
          readOnly: true
          example: 45
        gender:
          $ref: '#/components/schemas/GenderEnum'
        maritalStatus:
          type: object
          description: Current marital status with effective date
          properties:
            code:
              $ref: '#/components/schemas/MaritalStatusEnum'
            effectiveFrom:
              type: string
              format: date
              description: Date marital status became effective
              example: '2005-06-20'
        niNumber:
          type: string
          pattern: '^[A-Z]{2}[0-9]{6}[A-D]$'
          description: National Insurance number (UK)
          example: AB123456C
        occupation:
          type: string
          maxLength: 200
          description: Current occupation/job title
          example: Senior Software Engineer
        occupationCode:
          type: object
          description: Standard Occupational Classification (SOC) code
          properties:
            code:
              type: string
              example: '2136'
            display:
              type: string
              example: Programmers and Software Development Professionals
            socVersion:
              type: string
              example: SOC2020
        employmentStatus:
          $ref: '#/components/schemas/EmploymentStatusEnum'
        smokingStatus:
          $ref: '#/components/schemas/SmokingStatusEnum'
        isDeceased:
          type: boolean
          description: Whether the client has passed away
          example: false
        deceasedDate:
          type: string
          nullable: true
          format: date
          description: Date of death (if applicable)
        healthMetrics:
          $ref: '#/components/schemas/HealthMetrics'

    HealthMetrics:
      type: object
      description: Height, weight, BMI for health and insurance assessment
      properties:
        heightCm:
          type: number
          format: double
          description: Height in centimeters
          example: 178.0
        weightKg:
          type: number
          format: double
          description: Weight in kilograms
          example: 82.5
        bmi:
          type: number
          format: double
          description: Body Mass Index (calculated)
          readOnly: true
          example: 26.04
        bmiCategory:
          $ref: '#/components/schemas/BMICategoryEnum'
        lastMeasured:
          type: string
          format: date
          description: Date measurements were taken
          example: '2026-01-15'

    TerritorialProfile:
      type: object
      description: Residency, domicile, citizenship, and territorial tax status
      properties:
        countryOfResidence:
          type: object
          description: Current country of residence with ISO code
          properties:
            code:
              type: string
              pattern: '^[A-Z]{2}$'
              example: GB
            alpha3:
              type: string
              pattern: '^[A-Z]{3}$'
              example: GBR
            display:
              type: string
              example: United Kingdom
        countryOfDomicile:
          type: object
          description: Country of domicile for tax purposes
          properties:
            code:
              type: string
              pattern: '^[A-Z]{2}$'
              example: GB
            alpha3:
              type: string
              pattern: '^[A-Z]{3}$'
              example: GBR
            display:
              type: string
              example: United Kingdom
        countryOfBirth:
          type: object
          description: Country where the client was born
          properties:
            code:
              type: string
              pattern: '^[A-Z]{2}$'
              example: GB
            alpha3:
              type: string
              pattern: '^[A-Z]{3}$'
              example: GBR
            display:
              type: string
              example: United Kingdom
        countryOfOrigin:
          type: object
          description: Country of origin
          properties:
            code:
              type: string
              pattern: '^[A-Z]{2}$'
              example: GB
            alpha3:
              type: string
              pattern: '^[A-Z]{3}$'
              example: GBR
            display:
              type: string
              example: United Kingdom
        placeOfBirth:
          type: string
          maxLength: 100
          description: City/town where the client was born
          example: London
        countriesOfCitizenship:
          type: array
          description: List of countries where client holds citizenship
          items:
            type: object
            properties:
              code:
                type: string
                pattern: '^[A-Z]{2}$'
              alpha3:
                type: string
                pattern: '^[A-Z]{3}$'
              display:
                type: string
        ukResident:
          type: boolean
          description: Whether the client is UK tax resident
          example: true
        ukDomicile:
          type: boolean
          description: Whether the client is UK domiciled
          example: true
        expatriate:
          type: boolean
          description: Whether the client is an expatriate
          example: false
[...]
